In [12]:
import sys
from pathlib import Path
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.feature_extraction.text import TfidfVectorizer, ENGLISH_STOP_WORDS

PROJECT_ROOT = Path("..").resolve()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

FINAL_PATH = PROJECT_ROOT / "results/reports/onet_occupations.csv"
assert FINAL_PATH.exists(), f"File not found: {FINAL_PATH}"

df = pd.read_csv(FINAL_PATH)

In [16]:
flat = (
    df.groupby("Title")["Description"]
      .apply(lambda x: ", ".join(sorted(set(
          ", ".join(x.dropna()).split(", ")
      ))))
      .reset_index()
)

df.head()

,cluster_id,Title,n_rows,Description,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,0.0,Computer and Information Systems Managers,280.0,"consulting, technology, management, engineerin...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Row Labels
1,1.0,Computer and Information Systems Managers,164.0,"packaging, printing, plastic, print, bags, pap...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Computer and Information Systems Managers
2,2.0,Computer and Information Systems Managers,247.0,"engineering, consulting, technology, software,...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,biotechnology
3,3.0,Computer and Information Systems Managers,271.0,"healthcare, care, health, insurance, health ca...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,clinical
4,4.0,Computer and Information Systems Managers,157.0,"biotechnology, clinical, pharmaceutical, pharm...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pharmaceutical

In [17]:
OUT_PATH = PROJECT_ROOT / "results/reports/onet_title_flat_keywords.csv"

flat.to_csv(OUT_PATH, index=False)

print("Saved to:", OUT_PATH)

Saved to: C:\Users\hisuk\labor-market-nlp-prototype\results\reports\onet_title_flat_keywords.csv